@media only screen and (max-width: 1000px) {
    .innnergrid, .gridcontainer {
        grid-template-columns: 0px 230px 230px 230px 230px 0px;
    }

    .topright {
        grid-column-start: 4;
    }
}

@media only screen and (max-width: 800px) {
    .innergrid, .gridcontainer {
        grid-template-columns: 0px 192px 192px 192px 192px 0px;
    }

}

@media only screen and (max-width: 680px) {
    .innergrid, .gridcontainer {
        grid-template-columns: 0px 160px 160px 160px 160px 0px;
    }

}

@media only screen and (max-width: 600px) {
    .innergrid, .gridcontainer {
        grid-template-columns: 0px 120px 120px 120px 120px 0px;
    }

    .itemcontainer {
        max-width: 100%;
    }

}